<?xml version="1.0" encoding="utf-8" ?>
<Schedule Name="Full sync">

  <!-- these staging tasks must complete before moving on to the other tasks -->
  <Block Name="Source system imports" Enabled="true">
    <ManagementAgent Name="SITS Enrolment MA" RunProfile="FISO" Enabled="true" />
    <ManagementAgent Name="SITS MA" RunProfile="FISO" Enabled="true" />
    <SqlServer Name="PrepareHrmsOracleDeltas" Server="sqlsvr001" Command="spPrepareHrmsOracleDeltas" Enabled="true">
      <ManagementAgent Name="HRMS MA" RunProfile="FISO" Enabled="true" />
    </SqlServer>    
    <ManagementAgent Name="AD MA" RunProfile="FISO" Enabled="true" />
    <ManagementAgent Name="DB Users MA" RunProfile="FISO" Enabled="true" />
    <ManagementAgent Name="DB Enrolments MA" RunProfile="FISO" Enabled="true" />
    <ManagementAgent Name="DB Departments MA" RunProfile="FISO" Enabled="true" />
    <ManagementAgent Name="FIM Service MA" RunProfile="FISO" Enabled="true" />
  </Block>

  <!-- these tasks must be run after the preceding block -->
  <Block Name="Synchronisations" Enabled="true">
    <ManagementAgent Name="Organisational Hierarchy MA" RunProfile="FS" Enabled="true">
      <ManagementAgent Name="SITS Enrolment MA" RunProfile="FS" Enabled="true">
        <ManagementAgent Name="SITS MA" RunProfile="FS" Enabled="true">
          <ManagementAgent Name="HRMS MA" RunProfile="FS" Enabled="true">
            <Executable Name="Source Connector Manager Task" Command="C:\MIM\Idm.Mim.Tasks.SourceConnectorManager\Idm.Mim.Tasks.SourceConnectorManager.exe" Enabled="true">
              <ManagementAgent Name="Group Generator MA" RunProfile="FISO" Enabled="true">
                <ManagementAgent Name="Group Generator MA" RunProfile="FS" Enabled="true">
                  <ManagementAgent Name="AD MA" RunProfile="FS" Enabled="true">
                    <ManagementAgent Name="DB Users MA" RunProfile="FS" Enabled="true">
                      <ManagementAgent Name="DB Enrolments MA" RunProfile="FS" Enabled="true">
                        <ManagementAgent Name="DB Departments MA" RunProfile="FS" Enabled="true">
                          <ManagementAgent Name="FIM Service MA" RunProfile="FS" Enabled="true">
                            <ManagementAgent Name="FIM Service MA" RunProfile="E" Enabled="true">
                              <ManagementAgent Name="FIM Service MA" RunProfile="DISO" Enabled="true">
                                <ManagementAgent Name="FIM Service MA" RunProfile="DS" Enabled="true">

                                  <Block Name="Internal exports" Enabled="true">
                                    <ManagementAgent Name="DB Users MA" RunProfile="E" Enabled="true" />
                                    <ManagementAgent Name="DB Enrolments MA" RunProfile="E" Enabled="true" />
                                    <ManagementAgent Name="DB Departments MA" RunProfile="E" Enabled="true" />
                                  </Block>

                                  <Block Name="External exports" Enabled="true">
                                    <Executable Name="SF Export Task" Command="C:\MIM\Idm.Mim.Tasks.SFExportTask\Idm.Mim.Tasks.SFExportTask.exe" ShowWindow="true" Enabled="true" />
                                    <Executable Name="HRMS Export Task" Command="C:\MIM\Idm.Mim.Tasks.HrmsExportTask\Idm.Mim.Tasks.HrmsExportTask.exe" Enabled="true" />
                                    <Executable Name="SITS Export Task" Command="C:\MIM\Idm.Mim.Tasks.SitsExportTask\Idm.Mim.Tasks.SitsExportTask.exe" Enabled="true" />
                                    <Executable Name="Mailman Export Task" Command="C:\MIM\Idm.Mim.Tasks.MailmanExportTask\Idm.Mim.Tasks.MailmanExportTask.exe" Enabled="true" />
                                    <Executable Name="Planon Export Task" Command="C:\MIM\Idm.Mim.Tasks.PlanonExportTask\Idm.Mim.Tasks.PlanonExportTask.exe" Enabled="false" />
                                    <Executable Name="Newsweaver Export Task" Command="C:\MIM\Idm.Mim.Tasks.NewsWeaverExportTask\Idm.Mim.Tasks.NewsWeaverExportTask.exe" Enabled="true" />
                                    <Executable Name="Rando Export Task" Command="C:\MIM\Idm.Mim.Tasks.RandoExportTask\Idm.Mim.Tasks.RandoExportTask.exe" Enabled="true" />

                                    <!-- the portal needs notifying after AD exports to complete AD provisions with additional workflows (terminal services profile, for example) -->
                                    <ManagementAgent Name="AD MA" RunProfile="E" Enabled="true" OnlyIfPendingExportsExist="true">
                                      <ManagementAgent Name="AD MA" RunProfile="DISO" Enabled="true">
                                        <ManagementAgent Name="AD MA" RunProfile="DS" Enabled="true">
                                          <ManagementAgent Name="FIM Service MA" RunProfile="E" Enabled="true" OnlyIfPendingExportsExist="true" />
                                        </ManagementAgent>
                                      </ManagementAgent>
                                    </ManagementAgent>
                                  </Block>

                                </ManagementAgent>
                              </ManagementAgent>
                            </ManagementAgent>
                          </ManagementAgent>
                        </ManagementAgent>
                      </ManagementAgent>
                    </ManagementAgent>
                  </ManagementAgent>
                </ManagementAgent>
              </ManagementAgent>
            </Executable>
          </ManagementAgent>
        </ManagementAgent>
      </ManagementAgent>
    </ManagementAgent>
  </Block>

</Schedule>